<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="exportdlg">
		<title>Exporta dados</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<rows>2</rows>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Separador de definições:</label>
						</object>
						<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>Separador de campos:</label>
						</object>
						<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxTOP|wxBOTTOM|wxLEFT|wxSHAPED|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="fldsep" member="yes">
							<value>,</value>
							<size>27,27</size>
						</object>
						<flag>wxTOP|wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="recsep" member="yes">
							<value>|</value>
							<size>27,27</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxSHAPED|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGauge" name="ID_GAUGE1" variable="Gauge1" member="yes">
					<size>202,28</size>
				</object>
				<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="wxID_OK" variable="okbtn" member="yes">
					<bitmap stock_id="wxART_TICK_MARK" />
					<size>36,36</size>
					<tooltip>Exporta</tooltip>
					<handler function="OnokbtnClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Seleciona arquivo</message>
		</object>
	</object>
</wxsmith>
