<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="progressdialog">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxRAISED_BORDER</style>
		<handler function="OnSetFocus" entry="EVT_SET_FOCUS" />
		<handler function="OnKillFocus" entry="EVT_KILL_FOCUS" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="msglabel" member="yes">
					<label>Indexando, aguarde...</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
