<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="setoptsdlg">
		<title>Tipos de conversão</title>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<rows>2</rows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>1</cols>
					<rows>2</rows>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX1" variable="RadioBox1" member="yes">
							<label>Tipos de conversão</label>
							<content>
								<item>Data</item>
								<item>Nomes próprios</item>
								<item>Elimina pontuação</item>
								<item>Subcadeia</item>
								<item>Nenhuma (cópia simples)</item>
								<item>Subdivide nome</item>
								<item>Substitui valores</item>
							</content>
							<default>-1</default>
							<style>wxRA_SPECIFY_COLS</style>
							<handler function="OnRadioBox1Select" entry="EVT_RADIOBOX" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX2" variable="RadioBox2" member="yes">
							<label>Tipos de data</label>
							<content>
								<item>DD/MM/AA</item>
								<item>DDMMAA</item>
								<item>DD/MM/AAAA</item>
								<item>DDMMAAAA</item>
								<item>MM/DD/AA</item>
								<item>MMDDAA</item>
								<item>MM/DD/AAAA</item>
								<item>MMDDAAAA</item>
								<item>AA/MM/DD</item>
								<item>AAMMDD</item>
								<item>AAAA/MM/DD</item>
								<item>AAAAMMDD</item>
							</content>
							<default>-1</default>
							<dimension>2</dimension>
							<enabled>0</enabled>
							<style>wxRA_SPECIFY_COLS</style>
							<handler function="OnRadioBox2Select" entry="EVT_RADIOBOX" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxTOP|wxRIGHT|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
					<cols>1</cols>
					<rows>2</rows>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Substituições</label>
							<enabled>0</enabled>
						</object>
						<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxGrid" name="ID_GRID1" variable="Grid1" member="yes">
							<cols>2</cols>
							<rows>10</rows>
							<labelrowheight>20</labelrowheight>
							<labelcolwidth>20</labelcolwidth>
							<defaultcolsize>50</defaultcolsize>
							<collabels>
								<item>Troca</item>
								<item>Por</item>
							</collabels>
							<size>144,219</size>
							<enabled>0</enabled>
						</object>
						<flag>wxBOTTOM|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
							<label>Refaz</label>
							<enabled>0</enabled>
							<handler function="OnButton1Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<cols>1</cols>
							<rows>4</rows>
							<hgap>10</hgap>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
									<label>Início</label>
									<enabled>0</enabled>
								</object>
								<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl1" member="yes">
									<value>1</value>
									<min>1</min>
									<enabled>0</enabled>
									<handler function="OnSpinCtrl1Change" entry="EVT_SPINCTRL" />
								</object>
								<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
									<label>Caracteres</label>
									<enabled>0</enabled>
								</object>
								<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrl2" member="yes">
									<value>1</value>
									<enabled>0</enabled>
									<handler function="OnSpinCtrl2Change" entry="EVT_SPINCTRL" />
								</object>
								<flag>wxLEFT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>1</cols>
					<rows>4</rows>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>Entrada</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="inlist" member="yes">
							<size>191,162</size>
							<style>wxTE_MULTILINE|wxTE_READONLY|wxHSCROLL</style>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Saída</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="examples" member="yes">
							<size>191,162</size>
							<style>wxTE_MULTILINE|wxTE_READONLY|wxHSCROLL</style>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxLEFT|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
