<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="wizcmb">
		<title>Assistente</title>
		<size>523,349</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>3</rows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
					<size>523,23</size>
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>Combina</label>
						<pos>16,8</pos>
						<font>
							<size>14</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Sans</face>
						</font>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_LISTBOOK1" variable="Listbook1" member="yes">
					<size>523,276</size>
					<style>wxLB_TOP</style>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
							<pos>56,8</pos>
							<size>523,260</size>
						</object>
						<label>Passo 1</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<size>523,47</size>
					<object class="wxCustomButton" name="ID_BUTTON1" variable="backbtn" member="yes">
						<flat>1</flat>
						<label>Volta</label>
						<label_position>wxCUSTBUT_RIGHT</label_position>
						<bitmap stock_id="wxART_GO_BACK" />
						<pos>368,8</pos>
					</object>
					<object class="wxCustomButton" name="ID_BUTTON2" variable="fwdbtn" member="yes">
						<flat>1</flat>
						<label>Segue</label>
						<label_position>wxCUSTBUT_LEFT</label_position>
						<bitmap stock_id="wxART_GO_FORWARD" />
						<pos>448,8</pos>
					</object>
				</object>
				<flag>wxBOTTOM|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
